<footer class="page-footer red darken-2">
  <div class="container">
  <div class="row">
    <div class="col m6 s12">
      <h5 class="white-text">Ejercicios de probabilidad 2</h5>
      <p class="grey-text text-lighten-4">Puede contactarnos en nuestras redes social, sigue el proyecto en GitHub</p>
    </div>
    <div class="col m4 offset-m2 s12">
      <h5 class="white-text">Enlaces</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/garydavid.guzmanmunoz" target="about_blank">Facebook</a></li>
        <li><a class="grey-text text-lighten-3" href="https://twitter.com/gm_garyDav" target="about_blank">Twitter</a></li>
        <li><a class="grey-text text-lighten-3" href="https://plus.google.com/u/0/114601184686689746768" target="about_blank">Google</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/garyDav/ejer-proba.git" target="about_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
  </div>
  <div class="footer-copyright red darken-3">
  <div class="container">
  © 2016 Todos los derechos reservados.
  </div>
  </div>
</footer>