<nav class="nav-extended blue-grey darken-3" ng-contoller="mainCtrl">
  <div class="nav-wrapper">
    <a ng-href="/ejer-proba/" class="brand-logo">Ejercicios de probabilidad</a>
    <a ng-href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-href="/ejer-proba/"><i class="material-icons left">info</i> Info</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a ng-href="/ejer-proba/"><i class="material-icons left">info</i> Info</a></li>
      <li><a ng-href="/ejer-proba/empresa"><i class="material-icons left">assessment</i> Empresas</a></li>
    </ul>
    
    
    <ul class="tabs tabs-transparent blue-grey darken-4">
      <li class="tab" ng-repeat="dn in dataNav"><a ng-click="viewNav(dn.id);">{{dn.name}} </a></li>
    </ul>
  </div>
</nav>



<script>
  $(document).ready(function(){
    //aquí meteremos las instrucciones que modifiquen el DOM
    $(".button-collapse").sideNav();
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
